* {
  margin:0;
  padding:0
}
a {text-decoration:none ; font-family : 'Gothic A1'; color : BLACK;}
a:hover { text-decoration:underline; }


p{
    font-family: 'Gothic A1-Thin';
    margin-top : 4px;
}

p.bottom-right {
  font-family : 'Gothic A1-ExtraBold';
  color : #B9B4B1;
  text-align:right;
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.intro > p.description {
    font-size : 20px;
}

.intro {
    padding-top: 2em;
    padding-bottom:3em;
    text-align:center;
    height: 5em;
    background-color : #E9E4E1;
    font-family: 'Gothic A1-Thin';
}
#projects-list, .writings-list {
    padding-top : 2em;
    float :center ;
    width : 60%;
    margin : auto;
    font-family: 'Gothic A1-SemiBold';
}

.project, .writing {
    margin : 10px 20px 15px 0;
    padding : 15px;
    background-color : #f5f5f5;
    border-radius:9px;
    height : 10em;
    width : 10em;
    display : inline-block;
    vertical-align: top;
    position : relative;
}
.project:hover, .writing:hover {
    background-color: #e1e1e1;
    transition: background-color .5s;
}

.project:not(:hover), .writing:not(:hover) {
    background-color: #f5f5f5;
    transition: background-color .3s;
}


img.go {
    margin-top : 10px;
    height: 30px;
}

img.in-text {
    margin-top : 10px;
    height: 1em;
}
