---
title: "UMCS(Untact movement control system)"
date: 2024.03.31
summary: "Friends Tutor is a lecture provider platform where lectures recorded by students are shared worldwide."
layout: project
---