#md-container {
    display:inline-flex;
    width :100vw;
    min-width : 100vw;
    min-height  :100vh;
}

article {
    display:inline-block;
    width : 768px;
    margin : 10vw auto;
    transition: all 1s ease-in-out;
}

#back-button {
    position: absolute; 
    display: inline-block;
    width: 100px;
    height: 100px;
    top: 30px;
    left: 30px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
}

date {
    color : var(--color-blue-primary);
}

summary {
    color : var(--color-gray-primary);
}

@media (max-width: 576px) {
    article {
        width : 100%;
    }
}

@media (max-width: 768px) {
    article {
        width : 576px;
    }
}
@media (max-width: 992px) {
    
}
@media (max-width: 1200px) {
}
@media (max-width: px) {
    
}
@media (max-width: px) {
    
}
@media (max-width: px) {
    
}